@import "bootstrap-sprockets";
@import "bootstrap";

.container {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

.search-bar {
  margin: 25px 0px 25px 0px;
}